# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [4]:
# Your code goes here
import pandas as pd
url_file1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_file2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_file3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url_file1)
df2 = pd.read_csv(url_file2)
df3 = pd.read_csv(url_file3)

In [8]:
def clean_data(df):
    # Standardize column names
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    
    # Drop duplicates
    df = df.drop_duplicates()
    
    # Handle missing values, e.g., fill with placeholder or drop
    df = df.fillna("Unknown")  
    
    # Ensure consistency in specific columns (e.g., dates, numerical data)
    if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')
    if 'customer_lifetime_value' in df.columns:
        df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    
    return df

In [12]:
df1_clean = clean_data(df1)
df2_clean = clean_data(df2)
df3_clean = clean_data(df3)

In [14]:
combined_df = pd.concat([df1_clean, df2_clean, df3_clean], ignore_index=True)

In [16]:
combined_df = clean_data(combined_df)

In [18]:
print(combined_df.head())
print(combined_df.info())

  customer          st   gender             education  \
0  RB50392  Washington  Unknown                Master
1  QZ44356     Arizona        F              Bachelor
2  AI49188      Nevada        F              Bachelor
3  WW63253  California        M              Bachelor
4  GA49547  Washington        M  High School or Below

   customer_lifetime_value   income monthly_premium_auto  \
0                      NaN      0.0               1000.0
1                      NaN      0.0                 94.0
2                      NaN  48767.0                108.0
3                      NaN      0.0                106.0
4                      NaN  36357.0                 68.0

  number_of_open_complaints     policy_type  vehicle_class total_claim_amount  \
0                    1/0/00   Personal Auto  Four-Door Car           2.704934
1                    1/0/00   Personal Auto  Four-Door Car        1131.464935
2                    1/0/00   Personal Auto   Two-Door Car         566.472247
3                    1/0/00  Corporate Auto            SUV         529.881344
4                    1/0/00   Personal Auto  Four-Door Car          17.269323

     state
0  Unknown
1  Unknown
2  Unknown
3  Unknown
4  Unknown
<class 'pandas.core.frame.DataFrame'>
Index: 9135 entries, 0 to 9137
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9135 non-null   object
 1   st                         9135 non-null   object
 2   gender                     9135 non-null   object
 3   education                  9135 non-null   object
 4   customer_lifetime_value    7070 non-null   float64
 5   income                     9135 non-null   object
 6   monthly_premium_auto       9135 non-null   object
 7   number_of_open_complaints  9135 non-null   object
 8   policy_type                9135 non-null   object
 9   vehicle_class              9135 non-null   object
 10  total_claim_amount         9135 non-null   object
 11  state                      9135 non-null   object
dtypes: float64(1), object(11)
memory usage: 927.8+ KB
None

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [22]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

# Preview the data to check relevant columns
print(df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [24]:
# Create a pivot table for total revenue by sales channel
# Assuming 'total_claim_amount' represents total revenue (as revenue column isn't specified)
pivot_revenue_by_channel = df.pivot_table(
    values='total_claim_amount', 
    index='sales_channel', 
    aggfunc='sum'
).round(2)

In [26]:
#Analyze which channel brought in the most sales
# Sort to identify the highest revenue channel
highest_revenue_channel = pivot_revenue_by_channel.sort_values(by='total_claim_amount', ascending=False)
print("\nSales channel with the highest revenue:")
print(highest_revenue_channel.head(1))

Sales channel with the highest revenue:
               total_claim_amount
sales_channel
Agent                  1810226.82

In [28]:
# Step 4: Create a pivot table for average customer lifetime value by gender and education level
pivot_avg_clv = df.pivot_table(
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)

In [30]:
print("\nAverage Customer Lifetime Value by Gender and Education Level:")
print(pivot_avg_clv)

Average Customer Lifetime Value by Gender and Education Level:
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here